.Content {
  font-family: sans-serif;
  text-align: center;
}

html {
  background-image: linear-gradient(to bottom, #992600, #330d00);
  height: 100%;
  background-size: cover;
}

#title{
  font-size: 50px;
}

#interface {
  text-align: center;
}
#user-count {
  border-width: 3px;
  border-style: ridge;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  margin: auto;
  width: 120px;
  padding: 1px;
  background-color: #ffece6;
}

#chat-container {
  padding-top: 10px;
  height: 50%;
  width: 50%;
  margin: auto;
  border-width: 3px;
  border-style: ridge;
  border-color: rgb(0, 0, 0);
  border-radius: 10px;
  text-align: left;
  overflow: auto;
  background-color: #ffece6;
  scrollbar-width: none;  /* hide scrollbars for FireFox */
  -ms-overflow-style: none;  /* IE and Edge */
}
#messages-wrapper {
  float: left;
  max-width: 60%;
}
#users-wrapper {
  float: right;
}
#input-ui {
  padding-top: 10px;
  width: 50%;
  margin: auto;
}

#submit {
  font-size: 15px;
  float: right;
  height: 25px;
  border-radius: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: black;
  background-color: rgb(24, 211, 71);
  margin-right: 20px;
}

#chat-input {
  height: 25px;
  width: 80%;
  border-width: 2px;
  border-style: ridge;
  border-radius: 5px;
  border-color: black;
  background-color: #ffece6;
}

.chat-items {
  border-left: 3px solid black;
  border-radius: 5px;
  margin-left: 15px;
}

.signatures {
  padding-right: 10px;
}